.menu{
    max-height: 25px;
}
.texto{
    font-style: unset;
    position: absolute;
    top: 25%;
    left: 36%;

}
.menus{
    margin-left: 90vw;
}
.imagem1{
    border-radius: 30px;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 19%;
}

.imagem2{
    max-height: 225px;
    border-radius: 30px;
    margin: 70px;
    position: absolute;
    top: 48%;
    left: 65%;
}

.info{
    margin: 70px;
    position: absolute;
    top: 50%;
    left: 45%
}

body{
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
    background: -webkit-linear-gradient(rgb(60, 171, 245), rgb(1, 19, 46))
   repeat-x
}
.logo{
    background-color: azure;
    padding: 2px;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: #fff;
}
.nev-list{
    display: flex;
    align-items: center;
}
.nev-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.login-button button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
}
.login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
@media screen and (max-width: 730px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }
}